.hero {
  object-fit: cover;
  width: 100%;
  height: 30vh;
  object-position: center 50%;
}

.title-h1 {
  font-size: 40px;
}

.text {
  line-height: 1.5;
  margin-top: 0;
}

.desc-list {
  list-style-position: inside;
  margin-top: 0;
  padding: 0px;
}

.desc-item {
  line-height: 1.3;
}

.desc-item:not(:last-child) {
  margin-bottom: 10px;
}

.marginT-none {
  margin-top: 0;
}

